.expense-form input {
    color: black;
}

.display-balance {
    display: flex;
    justify-content: space-around;
    align-items: center;

    text-align: center;
    gap: 12px;
}

.balance, .expenses {
    background-color: #fff;
    padding: 0 64px;
    border-radius: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.totalBalance {
    color: green !important
}
.totalExpenses {
    color: red !important
}

#header h2 {
    margin-top: 12px;
    color: black ;
    font-size: 20px;
}

#header p {
    margin-top: 12px;
    font-size: 48px;
}

@media only screen and (max-width: 980px) {
    .display-balance {
        margin-bottom: 24px;
    }
  }