.expense-form input {
    color: black;
}

.display-balance {
    display: flex;
    justify-content: space-around;
    align-items: center;

    text-align: center;
    gap: 12px;
}

.balance, .expenses {
    background-color: #fff;
    padding: 0 64px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header h2 {
    margin-top: 12px;
    color: black ;
    font-size: 20px;
}

#header p {
    margin-top: 12px;
    font-size: 48px;
}